<?xml version="1.0"?>
<launch>
    <!-- Robot description for rviz -->
    <!-- <param name="robot_description" textfile="$(find my_simple_manipulator)/ros/config/my_robot.urdf" /> -->
    <param name="robot_description" command="xacro --inorder '$(find my_simple_manipulator)/ros/config/my_robot.xacro'" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="rob_joint_pub" >
        <param name="use_gui" type="bool" value="false"/>
    </node>

    <!-- rviz for visualisation -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find my_simple_manipulator)/../my_rviz.rviz" />


</launch>
